footer.page-footer
  .container
    .row
        h5.white-text Our links
        ul
          li
            a(href=`..${assetsPath}/file/CGU Airneis.pdf` target='_blank' rel='noopenoer nereferrer') GCU
          li
            a(href=`..${assetsPath}/file/MentionsLegales.pdf` target='_blank' rel='noopener noreferrer') Legal notice
          li
            a(href='/contact') Contact us
  .footer-copyright
    .container
      | &copy; 2023 Copyright ÀIRNEIS
      a.grey-text.text-lighten-4.right(href='#!')
        i.fa-brands.fa-instagram
      a.grey-text.text-lighten-4.right(href='#!')
        i.fa-brands.fa-twitter
      a.grey-text.text-lighten-4.right(href='#!')
        i.fa-brands.fa-facebook