footer.page-footer
  .container
    .row
        h5.white-text Liens utiles
        ul
          li
            a(href='../assets/file/CGU Airneis.pdf' target='_blank' rel='noopenoer nereferrer') CGU
          li
            a(href='../assets/file/MentionsLegales.pdf' target='_blank' rel='noopener noreferrer') Mentions légales
          li
            a(href='/contact') Contact
  .footer-copyright
    .container
      | &copy; 2023 Copyright ÀIRNEIS
      a.grey-text.text-lighten-4.right(href='#!')
        i.fa-brands.fa-instagram
      a.grey-text.text-lighten-4.right(href='#!')
        i.fa-brands.fa-twitter
      a.grey-text.text-lighten-4.right(href='#!')
        i.fa-brands.fa-facebook