nav
  .nav-wrap
    a.logo(href='/') ÀIRNEIS
    ul#nav-mobile.right
      li
        a(href='/search')
          i.material-icons search
      li
        a(href='/cart')
          i.material-icons shopping_cart
      li
        a(href='/')
          i.material-icons.burger menu