nav
  .nav-wrap
    a.logo(href= req.session.isAdmin ? "/backoffice" : "/") ÀIRNEIS
    ul#nav-mobile.right
      if !req.session.isAdmin
        li
          a(href='/products')
            i.material-icons search
      if !req.session.isAdmin
        li
          a(href='/cart')
            i.material-icons shopping_cart
      li
        a
          i.material-icons.burger menu