nav
  .nav-wrap
    a.logo(href='#') AIRNEIS
    ul#nav-mobile.right
      li
        a(href='/')
          i.material-icons search
      li
        a(href='/')
          i.material-icons shopping_cart
      li
        a(href='/')
          i.material-icons menu_burger