doctype html
head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/assets/css/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    block links
    block scripts
    title AIRNEIS - #{title}

body 
  block header 
    include ../layouts/header.pug
  .container 
    block content 
  block footer 
    include ../layouts/footer.pug