.burgermenu.hidden
  if !req.session.isAdmin
    a.burgermenu-link(href='/products') Produits
    a.burgermenu-link(href='/category') Catégories
    a.burgermenu-link(href='/contact') Contact
  if isLoggedIn 
    if !req.session.isAdmin 
      a.burgermenu-link(href='/') Mon compte
      a.burgermenu-link(href='/') Mes commandes
    a.burgermenu-link(href='/deconnexion') Se déconnecter
  else 
    a.burgermenu-link(href='/connexion') Se connecter
    a.burgermenu-link(href='/inscription') S'inscrire
  
