.burgermenu.hidden
  if !req.session.isAdmin
    a.burgermenu-link(href='/products') Products
    a.burgermenu-link(href='/category') Categories
    a.burgermenu-link(href='/contact') Contact
  if isLoggedIn 
    if !req.session.isAdmin 
      a.burgermenu-link(href='/historique_commande') My orders
      a.burgermenu-link(href='/') My account
      a.burgermenu-link(href='/') My orders
    a.burgermenu-link(href='/deconnexion') Disconnect
  else 
    a.burgermenu-link(href='/connexion') Log in
    a.burgermenu-link(href='/inscription') Sign up
  
