select {
    display: block;
}

.cart-confirmation-form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.cart-confirmation-page{
    display: flex;
    width: 80%;
    margin-left: 10%;
}

.cart-confirmation-content {
    position: fixed;
    top: 5rem;
    width: 40%;
    margin-left: 45%;
    display: flex;
    flex-direction: column;
}

.product-wrapper {
    display: flex;
    gap: 3rem;
}

.prix-total, .prix-tva, .product-wrapper {
    display: flex;
    justify-content: space-between;
}

.img-product {
    width: 5rem;
    height: 5rem;
}

.prix-total {
    margin-top: 3rem;
}

