.wrapper-commande-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produit-list-content {
    flex:1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 70%;
}

.product-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}

.basic-info{
    text-align: right;
}

.prix-total, .prix-tva, .product-wrapper {
    display: flex;
    justify-content: space-between;
}

.img-product {
    width: 6rem;
    height: 6rem;
}

.prix-total {
    margin-top: 3rem;
}

.button {
    align-self: center;
}

.container-user-address, .prix-tva{
    margin-bottom: 5rem;
}

.waves-effect.waves-light{
    margin-bottom: 3rem;;
}

.statut-commande{
    width: 100%;
    text-align: center;
}