.historique-commande-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commande-wrapper {
    display:flex;
    justify-content: space-between;
}

.left-side, .right-side{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}