.historique-commande-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto 7rem auto;
}

.commande-wrapper {
    display:flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid grey;
}

.left-side, .right-side{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.produit-wrapper{
    display: flex;
    gap: 1rem;
}

.id{
    font-size: 1.2rem;
    font-weight: 600;
}

.container-commandes{
    max-width: 900px;
}

.right-side{
    text-align: right;
}