extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/backoffice_view_category.css')

block content
    .view-product-wrapper
        table 
            thead 
                tr 
                    th Name  
                    th Image
            tbody
                each category in categories
                    tr.view-category-list-item
                        td.category-name #{ category.nom }
                        td
                            img.category-img(src=category.image)
                        td 
                            a(href="/backoffice/categorie/add?id="+category._id)
                                i.material-icons create
                        td
                            a(href=`/categorie/delete/${category._id}`)
                                i.material-icons delete
        a.waves-effect.waves-light.btn-large(href="/backoffice/categorie/add") Create category
            