extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/backoffice.css')

block content
    .backoffice-wrapper 
        a.waves-effect.waves-light.btn-large(href="/backoffice/produit") View products
        a.waves-effect.waves-light.btn-large(href="/backoffice/categorie") View categories
        a.waves-effect.waves-light.btn-large(href="/backoffice/messages") Support
        a.waves-effect.waves-light.btn-large() Return request