extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/backoffice.css')

block content
  h1.contact-h1 Back office
  .backoffice-wrapper.container 
      a.waves-effect.waves-light.btn-large(href="/backoffice/produit") Products
      a.waves-effect.waves-light.btn-large(href="/backoffice/categorie") Categories
      a.waves-effect.waves-light.btn-large(href="/backoffice/favoris") Favories
      a.waves-effect.waves-light.btn-large(href="/backoffice/orders") Orders
      a.waves-effect.waves-light.btn-large(href="/backoffice/messages") Support messages
      a.waves-effect.waves-light.btn-large(href="/backoffice/returnRequests") Return requests