extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/backoffice_add_category.css')

block content
    .add-category-wrapper.container.container-backo
        form(action="/backoffice/categorie/add" method="post")
            .input-id(hidden)
                    input#nom(name="_id", placeholder="Name*", value=isCategory ? categorie._id : "")
                    label(for="_id")
            .input-name
                input#nom(required name="nom", placeholder="Name*", value=isCategory ? categorie.nom : "")
                label(for="nom")
            .input-description
                input#description(required name="description", placeholder="Description*", value=isCategory ? categorie.description : "")
                label(for="description")
            .input-img
                label(for="image")
                input(required type="text", name="image", id="image",placeholder="Path to Photo*", value=isCategory ? categorie.image : "")

            button.submit.waves-effect.waves-light.btn-large(type="submit") Confirm