extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/backoffice_messages.css')

block content
  .messages-wrapper.container
    h1.contact-h1 Messages
    if messages.length > 0
      each message in messages
        .message-item
          .message-info
            p.from #{message.email}
            p.date #{message.dateCreation.toLocaleString()}
          .message-content
            p.subject #{message.sujet}
            p.text #{message.contenu}
          hr
    else
      p Aucun message trouvé.
