extends ../layouts/layout.pug

block links 
  link(rel='stylesheet' href='/assets/css/category.css')


block content 
    .wrapper-category-list
        a.category-img(href='')
            img(src='/assets/img/placeholder.png')
        p.category-name category
        a.category-img(href='')
            img(src='/assets/img/placeholder.png')
        p.category-name category
        a.category-img(href='')
            img(src='/assets/img/placeholder.png')
        p.category-name category
        a.category-img(href='')
            img(src='/assets/img/placeholder.png')
        p.category-name category
        a.category-img(href='')
            img(src='/assets/img/placeholder.png')
        p.category-name category