extends ../layouts/layout.pug

block links 
  link(rel='stylesheet' href='/assets/css/category.css')


block content
    h1.contact-h1 Catégories
    .wrapper-category-list.container
        each category, key in categories
            .wrapper-category-list-item
                a.category-link(href='/product_list?id='+category._id)
                    img.category-img(src=category.image)
                p.category-name #{ category.nom }