extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/connexion.css')

block content
  .container
    h1.connexion-h1 Log in
    .connexion
      form(action="/connexion", method="post")
        .row1
           .input-field
            input#mail(name="mail", placeholder="Email*", required)
            label(for="mail")
        .row2
          .input-field
            input#mdp(name="mdp", placeholder="Password*", type="password", required)
            label(for="mdp")
        .row3
          p.compte-p Not registered yet ?
          a(href="/inscription") Sign up
        .row3
          p.compte-p Forgot password ?
          a(href="#" onclick="forgotPassword();") Get a new one
        .row4
          .input-field
            button.btn.waves-effect.waves-light(type='submit' name='action')
              | Log in
  
block script
  script(src='/assets/scripts/reinitialisePassword.js')