extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/contact.css')

block content
  .container
    h1.contact-h1 Contact us
    form(action="/send-mail-contact", method="post")
      .row
        .input-field.col.s6
          input#email(placeholder="Email", name="email", required)
          label(for="email")
        .input-field.col.s6
          input#objet(placeholder="Object", name="sujet", required)
          label(for="sujet")
      .row
        .input-field.col.s12
          textarea.materialize-textarea#mail(name="message", cols="30", rows="10", placeholder="Your message", required)
          label(for="message")
      .row 
        .input-field.col.s12
          button.btn.waves-effect.waves-light(type='submit', name='action')
            | Send message
            i.material-icons.right send