extends ../layouts/layout.pug

block content
  .container
    h1.contact-h1 Contactez-nous
    form(action="GET")
      .row
        .input-field.col.s6
          input#email(placeholder="Email")
          label(for="email")
        .input-field.col.s6
          input#objet(placeholder="Objet")
          label(for="objet")
      .row
        .input-field.col.s12
          textarea.materialize-textarea#mail(name="mail", cols="30", rows="10", placeholder="Votre message")
          label(for="mail")