extends ../layouts/layout.pug

block links
    link(rel='stylesheet' href='/assets/css/delivery-address.css')

block content 
    h1.delivery-address-title Enter a delivery address
    .wrapper-delivery-address-form
        .input-nom
            input#nom(name="nom", placeholder="Nom*")
            label(for="nom")

        .input-prenom
            input#prenom(name="prenom", placeholder="Prenom*")
            label(for="prenom")

        .input-address1
            input#address1(name="address1", placeholder="Address1*")
            label(for="address1")

        .input-address2
            input#address2(name="address2", placeholder="Address2")
            label(for="address2")

        .input-ville
            input#ville(name="ville", placeholder="Ville*")
            label(for="ville")

        .input-region
            input#region(name="region", placeholder="Region*")
            label(for="region")

        .input-codepostal
            input#codepostal(name="codepostal", placeholder="Code postal*")
            label(for="codepostal")

        .input-pays
            input#pays(name="pays", placeholder="Pays*")
            label(for="pays")

        .input-tel
            input#tel(name="tel", placeholder="Numero de telephone*")
            label(for="tel")
        
        .submit-delivery-address 
            a(href='/paiement')
                button.btn.waves-effect.waves-light(type='submit') Proceed to paiment