extends ../layouts/layout.pug

block content
  .carroussel 
    .img-back
    .img-back
    .img-back
  .container.titreh2-index
    h2.titre-accueil VENANT DES HAUTES TERRES D'ÉCOSSE NOS MEUBLES SONT IMMORTELS
  .container.grille-categories-accueil 
    .categorie-accueil Catégorie 1
    .categorie-accueil Catégorie 2
    .categorie-accueil Catégorie 3
  .container.titre-produits-accueil Les Highlanders du moment
  .container.grille-produits-accueil 
    .produit-accueil Produit 1
    .produit-accueil Produit 2
    .produit-accueil Produit 3