extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/inscription.css')

block content
  .container
    h1.inscription-h1 Inscription
    .inscription
      form(action="/inscription", method="post")
        .row1
          .input-field.col.s12
            input#nom(name="nom", placeholder="Nom*", required)
            label(for="nom")
        .row2
          .input-field.col.s12
          input#prenom(name="prenom", placeholder="Prénom*", required)
          label(for="prenom")   
        .row3
          .input-field.col.s12
          input#email(name="mail", placeholder="Email*", required)
          label(for="email")
        .row4    
          .input-field.col.s12
            input#mdp(name="mdp", placeholder="Mot de passe*", type="password", required)
            label(for="mdp")
            span#mdp-length.error
            span#mdp-uppercase.error
            span#mdp-lowercase.error
            span#mdp-digit.error
            span#mdp-special.error
        .row5
          p.compte-p Déjà un compte ?
          a(href="/connexion") Connectez-vous.  
        .row6
          .input-field.col.s12
            button.btn.waves-effect.waves-light(type='submit' name='action' disabled)
              | S'inscrire

block script 
  script(src='/assets/scripts/passwordValidation.js')

