extends ../layouts/layout.pug

block links 
    link(rel='stylesheet' href='/assets/css/product_list.css')

block content 
    h1.contact-h1 #{categorie ? categorie : "Products"}
    .product-list-wrapper.container-lis-products
        if produits.length === 0
            p.no-products No products to show
        each produit in produits 
            .product-wrapper
                a.img-product(href='/product_detail?id='+produit._id style=`background-image: url(${produit.image1}`)
                .basic-info 
                    p.product-name #{ produit.nom }
                    p.product-price #{ produit.prix } €
                    a(href='/product_detail?id='+produit._id)
                        button.goto-product-detail.btn.waves-effect.waves-light() See details