extends ../layouts/layout.pug

block links 
    link(rel='stylesheet' href='/assets/css/product_list.css')

block content 
    .product-list-wrapper
        each produit in produits
            .product-wrapper
                img.img-product(src=produit.image1)
                .basic-info 
                    p.product-name #{ produit.nom }
                    p.product-price #{ produit.prix }
                    p.product-stock #{ produit.stock }
                button.goto-product-detail.btn.waves-effect.waves-light() Check out