extends ../layouts/layout.pug

block links
  link(rel='stylesheet' href='/assets/css/inscription.css')

block content
  .container
    h1.inscription-h1 Reset password
    .inscription
      form(action="/reset-password-form", method="post")
        .row4    
          .input-field.col.s12
            input#mdp(name="mdp", placeholder="Mot de passe*", type="password", required)
            label(for="mdp")
            span#mdp-length.error
            span#mdp-uppercase.error
            span#mdp-lowercase.error
            span#mdp-digit.error
            span#mdp-special.error

block script 
  script(src='/assets/scripts/passwordValidation.js')